#ButtonCanalLexInMinecraft1 {
	background-color: #57ff57;
	border-color: #57ff57;
}
#ButtonCanalLexInMinecraft2 {
	background-color: #673ab7;
	border-color: #673ab7;
}
#ButtonDonate { 
    background-color: #eeff46;
	border-color: #ffe500;
	height: 50
}
body {
	background-color: #84c33c;
}
